# Missing values Imputation Function using ML Model

## Steps:
1. Import Libraries
2. Load the data
3. find the columns with missing values and store in object
4. find the column based on data types
   1. numeric
   2. categories
   3. Boolean
5. Find the function to impute missing values
6. apply the function to our dataset with missing values
7. check the missing values agfter imputation

In [51]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score, mean_absolute_error, precision_score, recall_score,r2_score,mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer

In [52]:
# load the dataset
df = pd.read_csv('./heart_disease_uci.csv')
df.head()

   id  age     sex    dataset  ...        slope   ca               thal num
0   1   63    Male  Cleveland  ...  downsloping  0.0       fixed defect   0
1   2   67    Male  Cleveland  ...         flat  3.0             normal   2
2   3   67    Male  Cleveland  ...         flat  2.0  reversable defect   1
3   4   37    Male  Cleveland  ...  downsloping  0.0             normal   0
4   5   41  Female  Cleveland  ...    upsloping  0.0             normal   0

[5 rows x 16 columns]

In [53]:
missing_data_cols = df.isnull().sum()[df.isnull().sum() > 0].index.tolist()
missing_data_cols

['trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalch',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal']

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

In [55]:
# find categorical columns 
#categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
# find only numerical columns
#numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

#print(f"Categorical columns: {categorical_cols}")
#print(f"Numerical columns: {numerical_cols}")

In [56]:
categorical_columns = ['thal','ca','slope','exang',"restecg",'fbs','cp','sex','num']
bool_cols = ['fbs','exang']
numerical_cols = ['age','trestbps','chol','thalch','oldpeak']

In [57]:
# define the function to impute the missing values in thal column

def impute_categorical_missing_data(passed_col):
    
    df_null = df[df[passed_col].isnull()]
    df_not_null = df[df[passed_col].notnull()]

    X = df_not_null.drop(passed_col, axis=1)
    y = df_not_null[passed_col]
    
    other_missing_cols = [col for col in missing_data_cols if col != passed_col]
    
    label_encoder = LabelEncoder()

    for col in X.columns:
        if X[col].dtype == 'object' or X[col].dtype == 'category':
            X[col] = label_encoder.fit_transform(X[col])

    if passed_col in bool_cols:
        y = label_encoder.fit_transform(y)
        
    iterative_imputer = IterativeImputer(estimator=RandomForestRegressor(random_state=42), add_indicator=True)

    for col in other_missing_cols:
        if X[col].isnull().sum() > 0:
            col_with_missing_values = X[col].values.reshape(-1, 1)
            imputed_values = iterative_imputer.fit_transform(col_with_missing_values)
            X[col] = imputed_values[:, 0]
        else:
            pass
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    rf_classifier = RandomForestClassifier()

    rf_classifier.fit(X_train, y_train)

    y_pred = rf_classifier.predict(X_test)

    acc_score = accuracy_score(y_test, y_pred)

    print("The feature '"+ passed_col+ "' has been imputed with", round((acc_score * 100), 2), "accuracy\n")

    X = df_null.drop(passed_col, axis=1)

    for col in X.columns:
        if X[col].dtype == 'object' or X[col].dtype == 'category':
            X[col] = label_encoder.fit_transform(X[col])

    for col in other_missing_cols:
        if X[col].isnull().sum() > 0:
            col_with_missing_values = X[col].values.reshape(-1, 1)
            imputed_values = iterative_imputer.fit_transform(col_with_missing_values)
            X[col] = imputed_values[:, 0]
        else:
            pass
                
    if len(df_null) > 0: 
        df_null[passed_col] = rf_classifier.predict(X)
        if passed_col in bool_cols:
            df_null[passed_col] = df_null[passed_col].map({0: False, 1: True})
        else:
            pass
    else:
        pass

    df_combined = pd.concat([df_not_null, df_null])
    
    return df_combined[passed_col]

def impute_continuous_missing_data(passed_col):
    
    df_null = df[df[passed_col].isnull()]
    df_not_null = df[df[passed_col].notnull()]

    X = df_not_null.drop(passed_col, axis=1)
    y = df_not_null[passed_col]
    
    other_missing_cols = [col for col in missing_data_cols if col != passed_col]
    
    label_encoder = LabelEncoder()

    for col in X.columns:
        if X[col].dtype == 'object' or X[col].dtype == 'category':
            X[col] = label_encoder.fit_transform(X[col])
    
    iterative_imputer = IterativeImputer(estimator=RandomForestRegressor(random_state=42), add_indicator=True)

    for col in other_missing_cols:
        if X[col].isnull().sum() > 0:
            col_with_missing_values = X[col].values.reshape(-1, 1)
            imputed_values = iterative_imputer.fit_transform(col_with_missing_values)
            X[col] = imputed_values[:, 0]
        else:
            pass
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    rf_regressor = RandomForestRegressor()

    rf_regressor.fit(X_train, y_train)

    y_pred = rf_regressor.predict(X_test)

    print("MAE =", mean_absolute_error(y_test, y_pred), "\n")
    print("RMSE =", mean_squared_error(y_test, y_pred, ), "\n")
    print("R2 =", r2_score(y_test, y_pred), "\n")

    X = df_null.drop(passed_col, axis=1)

    for col in X.columns:
        if X[col].dtype == 'object' or X[col].dtype == 'category':
            X[col] = label_encoder.fit_transform(X[col])

    for col in other_missing_cols:
        if X[col].isnull().sum() > 0:
            col_with_missing_values = X[col].values.reshape(-1, 1)
            imputed_values = iterative_imputer.fit_transform(col_with_missing_values)
            X[col] = imputed_values[:, 0]
        else:
            pass
                
    if len(df_null) > 0: 
        df_null[passed_col] = rf_regressor.predict(X)
    else:
        pass

    df_combined = pd.concat([df_not_null, df_null])
    
    return df_combined[passed_col]

In [58]:
# check the missing values
df.isnull().sum()[df.isnull().sum() > 0]

trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
dtype: int64

In [59]:
# remove warnings
import warnings
warnings.filterwarnings("ignore")

for col in missing_data_cols:
    print("Missing values", col,":", str(round((df[col].isnull().sum()/len(df))*100,2))+"%")
    if col in categorical_columns:
        df[col] = impute_categorical_missing_data(col)
    elif col in numerical_cols:
        df[col] = impute_continuous_missing_data(col)
    else:
        pass

Missing values trestbps : 6.41%
MAE = 13.086705202312139

RMSE = 289.00209017341035

R2 = 0.09764219126154416

Missing values chol : 3.26%
MAE = 44.72769662921349

RMSE = 4044.2314185393257

R2 = 0.6796279322420729

Missing values fbs : 9.78%
The feature 'fbs' has been imputed with 79.52 accuracy

Missing values restecg : 0.22%
The feature 'restecg' has been imputed with 63.59 accuracy

Missing values thalch : 5.98%
MAE = 16.717456647398844

RMSE = 468.0278739884393

R2 = 0.3194484423200309

Missing values exang : 5.98%
The feature 'exang' has been imputed with 78.61 accuracy

Missing values oldpeak : 6.74%
MAE = 0.5747383720930231

RMSE = 0.629875784883721

R2 = 0.3999148794612508

Missing values slope : 33.59%
The feature 'slope' has been imputed with 66.67 accuracy

Missing values ca : 66.41%
The feature 'ca' has been imputed with 61.29 accuracy

Missing values thal : 52.83%
The feature 'thal' has been imputed with 71.26 accuracy

In [60]:
# check misisng values
df.isnull().sum()[df.isnull().sum() > 0]

Series([], dtype: int64)

In [61]:
df.isnull().sum()

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64